one-hot encoding in python

one-hot encoding with iris dataset

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/home/aaranyak/Downloads/IRIS.csv")
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
# we can create dummy variables to store the species column
dummy = pd.get_dummies(data.species)
dummy.tail()

     Iris-setosa  Iris-versicolor  Iris-virginica
145        False            False            True
146        False            False            True
147        False            False            True
148        False            False            True
149        False            False            True

In [4]:
# concat the dummy column to the dataset
merged_data = pd.concat([data,dummy],axis=1)

In [5]:
merged_data.head()

,sepal_length,sepal_width,petal_length,petal_width,species,Iris-setosa,Iris-versicolor,Iris-virginica
0,5.1,3.5,1.4,0.2,Iris-setosa,True,False,False
1,4.9,3.0,1.4,0.2,Iris-setosa,True,False,False
2,4.7,3.2,1.3,0.2,Iris-setosa,True,False,False
3,4.6,3.1,1.5,0.2,Iris-setosa,True,False,False
4,5.0,3.6,1.4,0.2,Iris-setosa,True,False,False

In [6]:
# now since we have done the one hot encoding we can drop the species column
final_data = merged_data.drop(columns='species')
final_data.head()

,sepal_length,sepal_width,petal_length,petal_width,Iris-setosa,Iris-versicolor,Iris-virginica
0,5.1,3.5,1.4,0.2,True,False,False
1,4.9,3.0,1.4,0.2,True,False,False
2,4.7,3.2,1.3,0.2,True,False,False
3,4.6,3.1,1.5,0.2,True,False,False
4,5.0,3.6,1.4,0.2,True,False,False

In [7]:
final_data.tail()

,sepal_length,sepal_width,petal_length,petal_width,Iris-setosa,Iris-versicolor,Iris-virginica
145,6.7,3.0,5.2,2.3,False,False,True
146,6.3,2.5,5.0,1.9,False,False,True
147,6.5,3.0,5.2,2.0,False,False,True
148,6.2,3.4,5.4,2.3,False,False,True
149,5.9,3.0,5.1,1.8,False,False,True